[Unit]
Description=Gost Proxy
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/home/linuxbrew/.linuxbrew/opt/gost/bin/gost -C /etc/gost/daemon.json
Restart=on-failure

[Install]
WantedBy=multi-user.target
