absl-py
deepdiff
dynaconf[all]
GitPython
giturlparse
icalendar
id-validator >= 1.0.20
jinja2 >= 3.1.2
lxml >= 4.9.1
memray
opencc
parse >= 1.19.0
prefect >= 2.0.4
prefect-dask
psutil
pydantic
pydantic_yaml
PyGithub
pypinyin
pytest
python-dateutil
pytz
scrapy
selenium
six
virtualenv
zhdate
diskcache
notion-client
cython
locust
protobuf # ~=4.24.1
python-snappy
psycopg2-binary
bbpb>=1.0.1
protobuf-inspector

#################### cli utils ####################
pyfiglet
tqdm
typer[all]
rich
click >= 8.1.3

#################### image utils ####################
pyexiftool

#################### draw && jupyter ####################
graphviz
ipykernel
ipywidgets
jupyterlab
kaleido
bqplot
plotly
matplotlib
seaborn
voila

#################### data science && math tools ####################
numpy
pandas >= 1.4.3

#################### map && gps ####################
gpxpy
ipyleaflet >= 0.17.0
srtm.py
geopy
geojson

#################### network && rpc && web ####################
PySocks
requests
sanic
tornado
msgpack
aiofiles
aiohttp[speedups]
fastapi
# fastapi[all]
gevent >= 21.12.0
thrift
thriftpy2
grpcio>=1.51.1
# git+https://github.com/facebook/fbthrift.git#subdirectory=thrift/lib/py/
# git+https://github.com/pinterest/thrift-tools

#################### crypto && compress ####################
cryptography
lz4 >= 4.0.2
pynacl

#################### large scale data ####################
pymongo
PyMySQL
sqlmodel
python-consul
kafka-python >= 2.0.2
kazoo
pyspark[sql] >= 3.3.0
apache-flink >= 1.16.0

#################### logging && debug ####################
icecream >= 2.1.3
pysnooper
loguru

#################### tools ####################
cmakelang
yapf
licenseheaders
pipdeptree

#################### google api ####################
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
